*{
    margin: 0;
    padding: 0;
}


body{
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(IMAGE/WhatsApp\ Image\ 2023-08-11\ at\ 12.58.43.jpeg);
    /* background-repeat: no-repeat; */
}

image{
    height: 100%;
    width: 100%;
}

table {
    margin: 100px auto;
    margin-left: 650px;
    width: 50%;
}


thead {
    background-color: #f6c9a4;
    padding: 8px;
    text-align: center;
}


td {
    color: #da1b1b;
    padding: 8px;
    text-align: center;
}

tbody tr:nth-child(odd) {
    background-color: #f8f8f8;
}
tbody tr:nth-child(even) {
    background-color: #e1afaf;
}

tbody tr:hover {
    background-color: #e2e2e2;
}

form {
    display: flex;
    flex-wrap: wrap;
    /* margin: 20px auto; */
    flex-direction: column;
    width: 80%;
    margin-top: 80px;
    margin-left: 80px;
}

input[type="text"],
input[type="number"] {
    padding: 8px;
    margin: 5px;
    width: 50%;
}


.Arrival,
.departure{
    padding: 8px;
    margin: 5px;
    width: calc(50% + 5px); 
    background-color: #fff;
    color: rgb(113, 112, 112);
}

input[type="time"]{
    margin-left: 300px;
    border: none;
}

.Arrival input{
    margin-left: 320px;
    margin-top: 2.5px;
}

button {
    padding: 8px;
    margin: 5px;
    width: calc(50% + 20px);
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #eb8a21;
    
}
.submit{
    /* bottom: 200px;    */
    margin-left: 650px;
    width: 50%;
}